.wrap {
  width: 100vw;
  height: 100vh;
}
header {
  width: 100vw;
  height: 12vh;
  background-color: rgb(221, 45, 45);
  display: flex;
  justify-content: center;
}
.he-in {
  width: 9rem;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 26px;
  color: #fff;
  margin-top: 1rem;
}
.he-in > div {
  width: 1rem;
  height: 1rem;
}
.back {
  font-size: 30px;
  color: #fff;
  margin-top: 1rem;
}
.back span {
  font-size: 30px;
}
section {
  width: 100vw;
}
.up img {
  width: 100%;
}
.down {
  width: 100vw;
  padding-top: 3.6vh;
  display: flex;
  justify-content: space-around;
}
.down .iconfont {
  font-size: 0.8rem;
}
.down .one {
  color: red;
}
footer {
  width: 100vw;
  margin-top: 3vh;
}
footer img {
  float: left;
  width: 100%;
}
