.wrap {
  width: 100vw;
  height: 100vh;
}
header {
  width: 100vw;
  height: 2.2rem;
  background-color: rgb(221, 45, 45);
  display: flex;
  justify-content: center;
}
.he-in {
  width: 9rem;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 26px;
  color: #fff;
  margin-top: 1rem;
}
.he-in > div {
  width: 1rem;
  height: 1rem;
}
.back {
  font-size: 30px;
  color: #fff;
  margin-top: 1rem;
}
.back span {
  font-size: 30px;
}
.first-input > span {
  color: rgb(235, 46, 134);
  font-size: 24px;
}
section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.first-input {
  width: 90vw;
  margin-top: 2rem;
  border-bottom: 1px solid #ccc;
}
input {
  width: 80vw;
  height: 1rem;

  outline: none;
  border: 0;
  font-size: 18px;
}
.two-input > span {
  color: rgb(235, 46, 134);
  font-size: 24px;
}
.two-input {
  width: 90vw;
  margin-top: 0.3rem;
  border-bottom: 1px solid #ccc;
}
.two-input input {
  width: 50vw;
}
.two-input .yan {
  font-size: 18px;
}
.three-input {
  width: 90vw;
  margin-top: 0.3rem;
  border-bottom: 1px solid #ccc;
}
.three-input > span {
  color: rgb(235, 46, 134);
  font-size: 24px;
}
.denglu {
  display: block;
  width: 85vw;
  height: 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(
    to right,
    rgb(231, 71, 151),
    rgb(236, 43, 43)
  );
  border-radius: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 1.5rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
